@font-face {
    font-family: 'InconsolataMedium';
    src: url('fonts/Inconsolata-webfont.eot');
    src: url('fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Inconsolata-webfont.woff') format('woff'),
    url('fonts/Inconsolata-webfont.ttf') format('truetype'),
    url('fonts/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('fonts/DroidSansMono-webfont.eot');
    src: url('fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/DroidSansMono-webfont.woff') format('woff'),
    url('fonts/DroidSansMono-webfont.ttf') format('truetype'),
    url('fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;   
}

@font-face {
    font-family: 'CPMono_v07Bold';
    src: url('fonts/CPMono_v07_Bold-webfont.eot');
    src: url('fonts/CPMono_v07_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CPMono_v07_Bold-webfont.woff') format('woff'),
         url('fonts/CPMono_v07_Bold-webfont.ttf') format('truetype'),
         url('fonts/CPMono_v07_Bold-webfont.svg#CPMono_v07Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CousineRegular';
    src: url('fonts/Cousine-Regular-Latin-webfont.eot');
    src: url('fonts/Cousine-Regular-Latin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cousine-Regular-Latin-webfont.woff') format('woff'),
         url('fonts/Cousine-Regular-Latin-webfont.ttf') format('truetype'),
         url('fonts/Cousine-Regular-Latin-webfont.svg#CousineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CousineItalic';
    src: url('fonts/Cousine-Italic-Latin-webfont.eot');
    src: url('fonts/Cousine-Italic-Latin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cousine-Italic-Latin-webfont.woff') format('woff'),
         url('fonts/Cousine-Italic-Latin-webfont.ttf') format('truetype'),
         url('fonts/Cousine-Italic-Latin-webfont.svg#CousineItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CousineBold';
    src: url('fonts/Cousine-Bold-Latin-webfont.eot');
    src: url('fonts/Cousine-Bold-Latin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cousine-Bold-Latin-webfont.woff') format('woff'),
         url('fonts/Cousine-Bold-Latin-webfont.ttf') format('truetype'),
         url('fonts/Cousine-Bold-Latin-webfont.svg#CousineBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CousineBoldItalic';
    src: url('fonts/Cousine-BoldItalic-Latin-webfont.eot');
    src: url('fonts/Cousine-BoldItalic-Latin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cousine-BoldItalic-Latin-webfont.woff') format('woff'),
         url('fonts/Cousine-BoldItalic-Latin-webfont.ttf') format('truetype'),
         url('fonts/Cousine-BoldItalic-Latin-webfont.svg#CousineBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 0px;
    margin: 0px;
    -webkit-transition: background-color 3s;
    background-color: #000;
    font-size: 12px;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
    margin-top: 40px;
}

h3 {
    padding-top: 1.5em;
    font-size: 1.2em;
}

code {
    color: #000080;
    padding: 0 2px;
    background-color: #F5F5F5;
}

code a {
    text-decoration: none;
    color: #000080;
    cursor: pointer;
}

a {
    color: #046B00;
    padding: 0 4px;
    background-color: #F5F5F5;
    cursor: pointer;
}

section {
    padding: 0 7px 0 0;
}

.footnote {
    padding: 0 10px;
    margin: 2px 8px;
    background-color: #FEFFE6;
    border: 1px solid #ddd;
    font-size: 1em;
}

div#commodore {
    width: 900px;
    height: 550px;
    padding: 0px;
}

div#commodore #loading {
    position: fixed;
    font-family: 'CousineRegular', monospace;
    font-size: 16px;
    margin: 40% 50px 0;
    color: #3E3EE4;
    text-shadow: 0px 0px 2px #333, 0px 0px 8px #444, 0px 0px 20px #3E3EE4;
    left: -1000px;
}

#canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index = 50;
    left: 10px;
    top: 10px;
    -webkit-transform:scale(0.999, 0.99);
    -webkit-transition: -webkit-transform 0.5s ease-in;
}

.graphicscanvas {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index = 1;
}

#help {
    font-family: 'Arial', serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), inset 0 0 50px rgba(0, 0, 0, 0.2);
    -webkit-transition: right 0.3s;
    color: #222;
    background: #fff;
    position: fixed;
    top: 1px;
    padding: 10px;
    line-height: 1.44em;
}

#helpmenu {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 20px;
    height: auto;
    font-size: 10px;
    font-family: arial, sans-serif;
    color: #333;
    text-align: right;
}

#closemark {
    position: absolute;
    top: 4px;
    right: 8px;
}

#help div#help_text {
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}

#help .fontchange {
    font-style: bold;
    margin-right: 10px;
}